:root {
  --primary: #F8D307;
  --white: #fff;
  --black: #000;
  --secondary: #909090;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.qr_code {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 40px;
  right: 42px;
}
.qr_code span {
  font-size: 13px;
  font-weight: 700;
  color: var(--secondary);
  display: block;
  text-align: center;
  padding: 5px;
  text-align: center;
}
.qr_code img{
  border-radius: 8px;
  width: 137px;
}

.hero {
  margin-top: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding: 0 20px;
}

.hero h3 {
  max-width: 812px;
  text-align: center;
}

.benefits {
  padding: 152px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1028px;
  background-color: #fff;
}

.benefits-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 86px;
  gap: 28px;
}

.benefits-info:first-child {
  align-items: end;
  text-align: end;
  max-width: 346px;
}

.benefits-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Вирівнює контент по центру */
  text-align: center;
  max-width: 300px;
  gap: 12px;
}

.benefits-right {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 48px;
}

.benefits-right .benefits-info {
  align-items: start;
  text-align: start;
}

.benefits-info img {
  height: 49px;
}

.benefits-phone {
  width: 270px;
}

.how-it-works {
  padding: 220px 0 0 0;
  text-align: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.how-it-works-container {
  padding: 106px 0 0 0;
  display: flex;
  align-items: center;
  gap: 25px;
  max-width: 873px;
  width: 100%;
}

.how-it-works-number {
  font-family: Inter, sans-serif;
  font-size: 50px;
  font-weight: 700;
  color: var(--primary);
}

.how-it-works-line {
  width: 5px;
  height: 84px;
  background-color: var(--primary);
}

.how-it-works-left {
  display: flex;
  flex-direction: column;
  align-items: end;
  text-align: end;
  gap: calc(84px + 20px + 13px);
}

.how-it-works-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.how-it-works-right {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;
  gap: calc(84px + 20px + 15px);
}

.how-it-works-right p { max-width: 320px;}
.how-it-works-left p { max-width: 340px;}


.join {
  display: flex;
  flex-direction: column;
  padding: 285px 0;
  text-align: center;
  align-items: center;
  width: 100%;
  gap: 60px;
}

.join h3 { max-width: 880px; }

.join-button {
  padding: 15px 120px;
  background-color: var(--primary);
  border: none;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
